body
{
    background: #f1abf1;
    font-family: 'Barlow', sans-serif;
}

#heading
{
    font-size: 50px;
}

#h5-1 , #h5-2 , #h4 , #h4-1
{
    font-size: 15px;
}

#div1
{
    font-size: 15px;
}

#img1 
{
    height: 500px;
    width: 500px;
}

#img2 
{
    height: 700px;
    width: 500px;
}

#img3
{
    height: 600px;
    width: 500px;
}

#img4
{
    height: 500px;
    width: 550px;
}

#img5
{
    height: 500px;
    width: 500px;
}

#img6
{
    height: 500px;
    width: 500px;
}

#id
{
    height: 200px;
    width: 1000px;;
    font-size: 20px;
}

#img
{
    height: 500px;
    width: 500px;
}
